<h1 class="ui center aligned large header" '>Welcome to MessageMe, a complete chat app¡</h1>

<h4 class="ui center aligned icon header">
  <i class="circular orange power off tiny icon"></i>
  Log in to continue
</h4>

<%= render 'form' %>
